<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>Category: <%= @article.category.name rescue "" %></p>
<h2> Suggested Reading:</h2>
<% @article.links.each do |link| %>
  <%= link_to "#{link.title}", link.url %>
  <%= link_to 'Destroy', [link.article, link], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<h2>Add a Link</h2>
<%= render 'links/form' %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>
