<h1>Articles with category: <%= @categories.name %></h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
  <td><%= "None so far" if Article.where(category_id: params[:id]).length == 0%></td>
  <% Article.where(category_id: params[:id]).each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', welcome_index_path %>
